.git
.gitattributes
.gitignore
.dockerignore
Dockerfile
*.md
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log*
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.result.cache
phpunit.xml
tests
.idea
.vscode
*.swp
*~
